name: ci

on: 
    push:
      branches: [main]
    pull_request:
      branches: [main]


jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        services:
          postgres:
            image: postgres:12
            env:
              POSTGRES_USER: root
              POSTGRES_PASSWORD: secret
              POSTGRES_DB: bilitioo
            ports:
              - 5432:5432
            options: >-
              --health-cmd pg_isready
              --health-interval 10s
              --health-timeout 5s
              --health-retries 5

        steps:
          - name: Checkout code
            uses: actions/checkout@v4.1.1
          
          - name: Set up Go
            uses: actions/setup-go@v4.1.0
            with:
              go-version: '1.21'
            
          - name: Install migrate
            run: |
                curl -L -o migrate.deb https://github.com/golang-migrate/migrate/releases/download/v4.18.2/migrate.linux-amd64.deb
                sudo dpkg -i migrate.deb
                rm migrate.deb
                which migrate

          - name: Initilaze db
            run: make migrateup
          
          - name: Run Tests
            run: make test

        